* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: rgba(195, 229, 235, 0.418);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(6, 41, 41, 0.952);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-y: hidden;
}

header,
footer {
    background-color: rgba(60, 182, 182, 0.596);
    background-image: linear-gradient(to bottom right, rgba(60, 182, 182, 0.596), rgba(130, 224, 236, 0.418));
}

header {
    border-bottom: 1px solid rgba(6, 41, 41, 0.952);
    font-size: 2rem;
    align-items: center;
    text-align: center;
}

header a {
    text-decoration: none;
}

footer {
    border-top: 1px solid rgba(6, 41, 41, 0.952);
    align-content: center;
    text-align: center;
    padding-top: 1.2rem;
}

main {
    background-color: rgba(247, 241, 234, 0.363);
    padding: 0 5rem;
    overflow-y: auto;
}

h1,
h2 {
    text-align: center;
    color: rgba(6, 41, 41, 0.952);
    margin-top: 1rem;
}

h2 {
    margin-bottom: 1.2rem;
}

.table-wrapper {
    overflow-x: auto;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px rgba(6, 41, 41, 0.952) solid;
    word-wrap: break-word;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

th,
td {
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: rgba(195, 229, 235, 0.418);
}

.fulfillment {
    text-align: center;
}

.public-work {
    margin: 0 auto;
}

.dark-mode {
    background-color: black;
    color: rgba(238, 232, 229, 0.979);
}

#mode-switch {
    background-color: rgba(60, 182, 182, 0.596);
    font-size: 2rem;
    border-radius: 50%;
    align-self: right;
    cursor: pointer;
}

img {
    max-width: 10rem;
}

p {
    font-size: 1.2rem;
}

.text-column {
    padding: 1.2rem;
}

/*
-------------------------------------------------------------------------------
Grid and responsiveness
-------------------------------------------------------------------------------
*/

body {
    width: 100%;
    display: grid;
    grid-template-rows: 12vh 78vh 10vh;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-rows: 14vh 76vh 10vh;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    header {
        height: 14vh;
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: auto 20% auto 5%;
        grid-template-rows: auto auto;
        grid-template-areas:
            ". homepage . mode-switch-wrapper ."
            ". github . . .";
    }
}

@media only screen and (min-width: 768px) {
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: auto 20% 20% auto 5% auto;
        grid-template-areas: ". homepage github . mode-switch-wrapper .";
    }
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

#homepage-link {
    grid-area: homepage;
}

#github-link {
    grid-area: github;
}

#mode-switch-wrapper {
    grid-area: mode-switch-wrapper;
}

.first-section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "introduction introduction"
        "table-wrapper text-column";
}

.introduction {
    grid-area: introduction;
}

.table-wrapper {
    grid-area: table-wrapper;
}

.text-column {
    grid-area: text-column;
}